
.root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
}
.body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}
.ul{
    list-style: none;
}
.list{
    list-style: none;
}
/* site-nav */
.link-nav{
color: #212121;
}
.link-nav:hover, .link-nav:focus {
    color:var(--accent-color);
}
.auth-nav{
color: #212121;
}
.auth-nav:hover, .auth-nav:focus{
    color:var(--accent-color);
}
.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
.logo-studio {
    color: #000000;
}
.logo-studio {
    color: #000000;
}

.logo-web {
    color: #2196F3;
}
/* Secion */
.section{
    color: #757575;
}
.section-title{
    color:#212121 ;
}
